.container{
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin: 1.875rem auto;
}

.infos{
    margin-left: 10px;
}

@media (max-width: 940px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 380px){
    .infos {
        width: 90%;
    }
}